<div>
    <!--no caminho da action indicar o nome da pasta da view onde encontra-se a página que será retornada (index)-->
    <form action="/Categoria/Adiciona" method="post">
        <label for="nome">Nome:</label>
        <input id="nome" name="categoria.Nome" />

        <label for="descricao">Descrição:</label>
        <input id="descricao" name="categoria.Descricao" />

        <input type="submit" value="Cadastrar" />
    </form>
</div>
