<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <!--TAG th PARA TÍTULOS DE TABELAS-->
                <th>Id</th>
                <th>Nome</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var categoria in ViewBag.categorias)
            {
                <tr>
                    <td>@categoria.Id</td>
                    <td>@categoria.Nome</td>
                    <td>@categoria.Descricao</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <button type="button" class="btn btn-default mouse">@Html.RouteLink("Cadastrar Categoria", "FormCategoria")</button>
</div>

