<!--VIEWS FORTEMENTE TIPADAS-->
<!--COMANDO model DO RAZOR-->
<!--model IList<CaelumEstoque.Models.Produto>-->
<!--COM ISSO ESTAMOS DECLARANDO QUAL É O TIPO DA VARIÁVEL MODEL QUE ESTÁ SENDO UTILIZADA NA VIEW E POR ISSO PODEMOS UTILIZAR LIVREMENTE A INFERÊNCIA DE TIPOS NO CÓDIGO DO FOREACH-->

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <!--TAG th PARA TÍTULOS DE TABELAS-->
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody>
                @foreach (CaelumEstoque.Models.Produto produto in ViewBag.Produtos)
                {
                    <tr>
                        <td>@produto.Id</td>
                        <!--O ACTIONLINK POSSUI UMA VERSÃO SOBRECARREGADA QUE RECEBE O TEXTO DO LINK, O NOME DA ACTION E UM OBJETO CUJOS ATRIBUTOS SERÃO UTILIZADOS PARA PREENCHER OS PARÂMETROS DA URL-->
                        <td>@Html.ActionLink(produto.Nome, "Visualiza", new { id = produto.Id })</td>
                        <td>@produto.Quantidade</td>
                        <td>@produto.Preco</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
